body {
  margin: 20px;
  padding: 0px;
  background: #d3d3d3;
  box-sizing: border-box;
}

.container {
  max-width: 640px;
  margin: auto;
  border: #fff solid 5px;
  background: #fff;
}

/* responsive images */
.main-img img,
.imgs img {
  width: 100%;
}

/* display images in a grid */
.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  cursor: pointer;
}

/* something cheesy */
.imgs img:hover {
  /* scale up a bit and rotate */
  transform: scale(1.1) rotate(2deg);
  transition: transform 0.25s ease-in-out;
  /* add a smear effect behind the image */
  box-shadow: 0 0 112px rgba(0, 0, 0, 1);
  /* round the corners a bit */
  border-radius: 15px;
}

/* blur it out and turn it grey */
.selectedImage {
  /* blur the image a bit and turn it to greyscale */
  filter: blur(1.5px) grayscale(100%);
  /* keep the smear effect, just not as much */
  box-shadow: 0 0 112px rgba(0, 0, 0, 0.5);
  /* lets make it an oval */
  border-radius: 50%;
}

/* fade in animation */
@keyframes fadeIn {
  /* change opacity to 1 from whatever it is to start with */
  to {
    opacity: 1;
  }
}

/* this is the class that will add the animation to the large img */
.fade-in {
  /* starting opacity is 0 */
    opacity: 0;
  /* change it based on the keyframe, take 0.5s to complete */
  animation: fadeIn 0.5s ease-in 1 forwards;
}
